<div class="tree-item">
  <div class="tree-item-title tree-item-type-{{$ctrl.type}}">

    <a class="tree-item-icon"
       data-nodrag
       ng-click="$ctrl.toggleChildren($ctrl.item)">
      <i class="tree-icon-folder fa {{$ctrl.icon + ($ctrl.item.expanded ?'-open':'') }}"
            aria-hidden="true">
      </i>
    </a>

    <a ng-click="$ctrl.goTo($ctrl.item.id)">
      <span ng-if="$ctrl.item.status && $ctrl.item.status == 'draft'">DRAFT</span>
      {{$ctrl.item[$ctrl.title]}}
    </a>

  </div>

  <div class="tree-item-update">
    {{$ctrl.item.updated_at * 1000 | date : "dd/MM/yy HH:mm:ss"}}
  </div>

  <div class="tree-item-lang">
    {{$ctrl.item.language.name}}
  </div>

  <div class="tree-item-author">
    {{$ctrl.item.author}}
  </div>

  <div class="tree-item-actions" ng-if="$ctrl.$state.current.name != 'visitor'">
    <button class="icon-button"
            ng-click="$ctrl.edit($ctrl.item.id)"
            tooltip-placement="up"
            uib-tooltip="Edit {{$ctrl.type == 'faq' ? ($ctrl.type | uppercase) : $ctrl.type}}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>

    <button class="icon-button"
            ng-click="$ctrl.remove($ctrl.item.id)"
            tooltip-placement="up"
            uib-tooltip="Remove {{$ctrl.type == 'faq' ? ($ctrl.type | uppercase) : $ctrl.type}}">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="tree-item-divider"></div>
