<navbar></navbar>

<div class="content-wrapper category">

  <div class="col-md-2 category-left-sidebar">
    <div class="category-actions">
      <button type="button"
              class="button button-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fa fa-plus"></i>
        Add
      </button>
      <ul class="dropdown-menu">
        <li ng-if="$ctrl.tree.parent_id == 0 || $ctrl.tree.parent_id == 1">
          <a href='#' ng-click="$ctrl.createCategory()">
            Create {{$ctrl.currentCategory == 1 ? 'Category': 'Subcategory'}}
          </a>
        </li>
        <li>
          <a ui-sref="admin.createFaq({categoryId: $ctrl.currentCategory})">
            Create FAQ
          </a>
        </li>
      </ul>
    </div>
    <type-of-questions article-counts="$ctrl.articlesCounts"></type-of-questions>
  </div>

  <div class="col-md-10 category-content">
    <div class="container-fluid">

      <div class="row category-title">
        <div class="col-md-12">

          <h1>{{$ctrl.currentCategory == 1 ? $ctrl.name : $ctrl.tree.name}}</h1>

          <breadcrumbs home="'Home'" current="$ctrl.currentCategory"></breadcrumbs>

        </div>
      </div>

      <category-tree tree="$ctrl.tree" article-type="$ctrl.articleType"></category-tree>

    </div>
  </div>

</div>
