<navbar></navbar>

<div class="content-wrapper">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-2">
        <type-of-questions article-counts="$ctrl.articlesCounts"></type-of-questions>
      </div>

      <div class="col-md-10">

        <div class="container-fluid">

          <div class="row">
            <div class="col-md-9">
              <h1>{{$ctrl.getCurentCategoryName()}}</h1>

              <breadcrumbs home="'Dashboard'" current="$ctrl.currentCategory"></breadcrumbs>

            </div>
            <div class="col-md-3">
              <!-- start Split action -->
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href='#' ng-click="$ctrl.createCategory()">Create {{$ctrl.currentCategory == 1 ? 'Category':
                    'Subcategory'}}</a></li>
                  <li><a ui-sref="createFaq({categoryId: $ctrl.currentCategory})" ui-sref-opts="{qqq: 'w'}">Create
                    FAQ</a></li>
                </ul>
              </div>
              <!-- end Split action -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.searchModel" placeholder="Search">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h3>Category / FAQ</h3>
            </div>
            <div class="col-md-6">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- start Main content -->
              <main>
                <category-tree categories="$ctrl.categories"
                               current="$ctrl.currentCategory"
                               search="$ctrl.searchModel"></category-tree>

                <article-tree articles="$ctrl.articles"
                              search="$ctrl.searchModel"></article-tree>

              </main>
              <!-- end Main content -->
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
