@import "../../styles/variabels";

.breadcrumb {
  padding-left: 0;
  background: none;
  font-size: $fontSm;
  color: $primaryColor;
  li:last-child {
    a{
      color: $greyTextColor;
      cursor: default;
      text-decoration: none;
    }
  }
}
