<navbar></navbar>
<div class="content-wrapper faq">

  <!--Content article-->
  <div class="col-md-8 faq-content">
    <!--Tags-->
    <div class="faq-tags">
      <div class="faq-tag" ng-repeat="item in $ctrl.faq.tags track by $index">
        {{item.name}}
      </div>
    </div><!--END: Tags-->

    <!--Counts word-->
    <div class="text-right faq-counts">
      <p>
        {{$ctrl.faq.countWords}} word{{$ctrl.faq.countWords > 1 ? 's': ''}} {{$ctrl.faq.countChars}}
        character{{$ctrl.faq.countChars > 1 ? 's': ''}}, {{$ctrl.faq.timeReads}} reading time
      </p>
    </div><!--END: Counts word-->

    <!--Copy To Clipboard-->
    <div class="container-fluid">
      <button class="button button-primary pull-right"
              clipboard
              uib-tooltip="Copy to clipboard"
              tooltip-placement="up"
              text="$ctrl.faq.answerWithoutTags"
              ng-click="$ctrl.copyToClipboard()">
        <i class="fa fa-clipboard"></i>
        Copy to clipboard
      </button>
    </div><!--END: Copy To Clipboard-->

    <!--Question-->
    <div class="faq-question">
      <h2>{{$ctrl.faq.question}}</h2>
    </div><!--END: Question-->

    <!--Answer-->
    <div class="faq-answer">
      <div ng-bind-html="$ctrl.convertHTML($ctrl.faq.answer)">
      </div>
    </div><!--END: Answer-->

    <!--Remarks-->
    <div class="faq-remarks" ng-if="$ctrl.faq.remarks">
      <h4>Internal Comment:</h4>
      <div class="one-remark">
        {{$ctrl.faq.remarks}}
      </div>
    </div><!--END: Remarks-->

  </div><!--END: Content article-->

  <!--left right article-->
  <div class="col-md-4 faq-right-sidebar">

    <!--Action buttons-->
    <div class="row faq-actions" >
      <div class="col-md-6 col-md-offset-3">
        <button class="button button-primary button-full" ng-click="$ctrl.goTo()">
          Edit
        </button>
      </div>
    </div><!--END: Action buttons-->

    <!--Categories-->
    <div class="faq-category">
      <h4>Categories:</h4>
      <div>{{$ctrl.faq.category.name}}</div>
    </div><!--END: Categories-->

    <!--Visibility-->
    <div class="faq-visibility" ng-if="$ctrl.faq.visibility">
      <h4>Visibility:</h4>
      <div>{{$ctrl.faq.visibility}}</div>
    </div><!--END: Visibility-->

    <!--Author-->
    <div class="faq-author" ng-if="$ctrl.faq.author">
      <h4>Author:</h4>
      <div>{{$ctrl.faq.author}}</div>
    </div><!--END: Author-->

    <!--Language-->
    <div class="faq-language" ng-if="$ctrl.faq.lang">
      <h4>Language:</h4>
      <div>{{$ctrl.faq.language.name}}</div>
    </div><!--END: Language-->

    <!--faq-attachment-->
    <div class="faq-attachment" ng-if="$ctrl.faq.attachments.length">
      <h4>Attachments:</h4>

      <div class="files" ng-repeat="item in $ctrl.faq.attachments">
        <a ng-href="{{item.attachment_url}}" target="_blank" class="files-name">{{item.name}}</a>
      </div>
    </div><!--END: Attachments-->

  </div><!--END: right sidebar article-->

</div>
