@import "../../common/common";

.faq {
  .mce-panel,
  .mce-btn {
    background: none;
  }

  tags-input {
    .tags {
      background: none;
      border: none;
      box-shadow: none;
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

      &.focused {
        border: none;
        box-shadow: none;
      }

      input.input {
        float: none;
        display: block;
        width: 100% !important;
        background: none;
      }

      .tag-item {
        background: $tagsBgColor;
      }
    }

    .host {
      outline: none;
    }
  }

  &-content {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100%;
    padding-left: 100px;

    &:after {
      content: " ";
      border-right: 1px solid;
      opacity: 0.4;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
    }

    .faq {
      &-counts {
        color: rgba($darkTextColor, 0.5);
        margin: 10px 0;
      }

      &-question {
        position: relative;
        label {
          position: absolute;
          left: -60px;
          top: 40%;
          font-size: 16px;
          opacity: 0.4;
          font-weight: normal;

          &:after {
            content: "";
            border-right: 3px solid black;
            height: 100%;
            opacity: 0.4;
            margin-left: 10px;
          }
        }
        .form-control,
        h2 {
          border: none;
          font-size: 50px;
          height: auto;
          box-shadow: none;
          padding: 0;
          font-weight: bold;
        }
      }

      &-tag {
        display: inline-block;
        margin: 0 5px;
        background: $tagsBgColor;
        padding: 5px 10px;
        border-radius: 4px;
      }

      .one-remark {
        margin-top: 20px;
        padding: 20px 10px;
        background: $tagsBgColor;
        border-radius: 4px;
      }
    }
  }

  &-left-sidebar {
    padding-bottom: 20px;
    padding-top: 20px;

    h4 {
      font-size: 15px;
    }

    .faq {
      &-visibility,
      &-category,
      &-open-comments,
      &-author,
      &-language,
      &-analytics,
      &-attachment {
        margin-bottom: 40px;
      }

      &-uploader,
      &-attachment{
        .files {
          position: relative;
          font-size: 16px;
          margin: 10px 0;
          color: inherit;

          .files-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            margin-right: 20px;
            color: inherit;
          }

          i {
            position: absolute;
            top: 0;
            right: 0;
            margin: 2px;
            cursor: pointer;
          }
        }
      }
    }

    &.edit .faq-visibility {
      background: none;
    }
  }

  &-right-sidebar {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  textarea {
    resize: none;
  }
  h4 {
    color: $darkTextColor;
  }
}
