<navbar ng-if="!$ctrl.visitor"></navbar>
<div class="content-wrapper faq">

  <!--Content article-->
  <div class="col-md-8 faq-content">
    <!--Tags-->
    <div class="faq-tags">
      <div class="faq-tag" ng-repeat="item in $ctrl.faq.tags track by $index">
        {{item.name}}
      </div>
    </div><!--END: Tags-->

    <!--Counts word-->
    <div class="text-right faq-counts">
      <p>
        {{$ctrl.faq.countWords}} word{{$ctrl.faq.countWords > 1 ? 's': ''}} {{$ctrl.faq.countChars}}
        character{{$ctrl.faq.countChars > 1 ? 's': ''}}, {{$ctrl.faq.timeReads}} reading time
      </p>
    </div><!--END: Counts word-->

    <!--Copy To Clipboard-->
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <div class="button button-primary"
             clipboard
             text="$ctrl.faq.answerWithoutTags"
             ng-click="$ctrl.copyToClipboard()">
          Copy to clipboard
        </div>
      </div>
    </div><!--END: Copy To Clipboard-->

    <!--Question-->
    <div class="faq-question">
      <label>Title</label>
      <h2>{{$ctrl.faq.question}}</h2>
    </div><!--END: Question-->

    <!--Answer-->
    <div class="faq-answer">
      <div ng-bind-html="$ctrl.convertHTML($ctrl.faq.answer)">
      </div>
    </div><!--END: Answer-->

    <!--Remarks-->
    <div class="faq-remarks" ng-if="!$ctrl.visitor && $ctrl.faq.remarks.length">
      <h4>Remarks</h4>
      <div class="one-remark" ng-repeat="item in $ctrl.faq.remarks track by $index">
        {{item}}
      </div>
    </div><!--END: Remarks-->

  </div><!--END: Content article-->

  <!--left sideba article-->
  <div class="col-md-4 faq-left-sidebar">

    <!--Action buttons-->
    <div class="row faq-actions" ng-if="!$ctrl.visitor">
      <div class="col-md-6">
        <div class="button" ng-click="$ctrl.cancel()" ng-if="$ctrl.cancelBtn.isSetPrevious()">
          Return
        </div>
      </div>
      <div class="col-md-6">
        <div class="button button-primary" ng-click="$ctrl.goTo()">
          Edit
        </div>
      </div>
    </div><!--END: Action buttons-->

    <!--Categories-->
    <div class="faq-category">
      <h4>Categories:</h4>
      <div>{{$ctrl.faq.category.name}}</div>
    </div><!--END: Categories-->

    <!--Visibility-->
    <div class="faq-visibility" ng-if="$ctrl.faq.visibility">
      <h4>Visibility:</h4>
      <div>{{$ctrl.faq.visibility}}</div>
    </div><!--END: Visibility-->

    <!--Author-->
    <div class="faq-author" ng-if="$ctrl.faq.author">
      <h4>Author:</h4>
      <div>{{$ctrl.faq.author}}</div>
    </div><!--END: Author-->

    <!--Language-->
    <div class="faq-language" ng-if="$ctrl.faq.lang">
      <h4>Language:</h4>
      <div>{{$ctrl.faq.lang}}</div>
    </div><!--END: Language-->

    <!--faq-attachment-->
    <div class="faq-attachment" ng-if="$ctrl.faq.attachments.length">
      <h4>Attachments:</h4>

      <div class="files" ng-repeat="item in $ctrl.faq.attachments">
        <a ng-href="{{item.attachment_url}}" target="_blank" class="files-name">{{item.name}}</a>
      </div>
    </div><!--END: Attachments-->

    <!--Analytics-->
    <!--<h4>Analytics:</h4>-->
    <!--<div class="faq-analytics">-->
    <!--<i class="glyphicon glyphicon-eye-open"></i>{{$ctrl.faq.analytics}} views-->
    <!--</div>&lt;!&ndash;END: Analytics&ndash;&gt;-->

  </div><!--END: left sideba article-->

</div>
