<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1>{{ $ctrl.name }}</h1>

      <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)">{{alert.msg}}</div>

      <form
        name="registrationForm"
        sf-schema="$ctrl.schema"
        sf-form="$ctrl.form"
        sf-model="$ctrl.newUser">
      </form>

      <button
        type="button"
        class="btn btn-primary"
        ng-disabled="registrationForm.$invalid"
        ng-click="$ctrl.register(registrationForm, $ctrl.newUser)">Create
      </button>

    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <a ng-click="$ctrl.moteToLogin()">Sign in {{$ctrl.isCreated}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
