<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.name}}</h3>
</div>

<div class="modal-body" id="modal-body">

  <form
      name="forgotPasswordForm"
      sf-schema="$ctrl.schema"
      sf-form="$ctrl.form"
      sf-model="$ctrl.forgotPassword">
  </form>

</div>

<div class="modal-footer">

  <button class="button" ng-click="$ctrl.cancel()">
    Cancel
  </button>

  <button class="button button-primary"
          ng-disabled="forgotPasswordForm.$invalid"
          ng-click="$ctrl.save(forgotPasswordForm, $ctrl.forgotPassword)">
    Send
  </button>

</div>