<!--search-->
<div class="form-group">
  <input type="text"
         class="form-control"
         ng-model="$ctrl.searchModel"
         placeholder="Search">
</div><!--END: search-->

<!-- tree header -->
<div class="tree-header">
  <div class="tree-header-title" ng-if="!$ctrl.searchModel.length && $ctrl.sort.name == 'Custom'">
    {{$ctrl.categories.categories.length + $ctrl.categories.articles.length}}
    result{{($ctrl.categories.categories.length + $ctrl.categories.articles.length)>1 ? 's' : ''}}
  </div>

  <div class="tree-header-title" ng-if="$ctrl.searchModel.length || $ctrl.sort.name != 'Custom'">
    {{$ctrl.countC + $ctrl.countA}}
    result{{($ctrl.countC + $ctrl.countA)>1 ? 's' : ''}}
  </div>

  <div class="tree-header-update select">
    <div class="dropdown-toggle"
         data-toggle="dropdown">
      <i class="fa fa-angle-down pull-right"></i>
      Sort by: <span class="sort">{{$ctrl.sort.name}}</span>
    </div>

    <ul class="dropdown-menu">
      <li ng-repeat="item in $ctrl.sorting" ng-click="$ctrl.sort = item">{{item.name}}</li>
    </ul>
  </div>

  <div class="tree-header-lang">
    Language
  </div>
  <div class="tree-header-author">
    Author
  </div>
  <div class="tree-header-actions"></div>
</div> <!--END: tree header-->

<!--tree-->
<div class="tree" ng-if="!$ctrl.searchModel.length && $ctrl.sort.name == 'Custom'">

  <div dnd-list="$ctrl.categories.categories">
    <!--categories-->
    <div ng-repeat="item in $ctrl.categories.categories | filter:{name: $ctrl.searchModel} | orderBy: $ctrl.sort.cat"

         dnd-draggable="item"
         dnd-effect-allowed="move"
         dnd-moved="$ctrl.moved($index, item)">
      <!--dnd-moved="$ctrl.categories.categories.splice($index, 1)">-->

      <tree-item item="item" type="'category'" drag-icon="true"></tree-item>

      <div class="tree-row"
           ng-if="item.expanded"
           ng-repeat="subcat in item.categories">
        <tree-item item="subcat" type="'category'"></tree-item>
      </div>
    </div>
  </div>
  <!--articles-->
  <div ng-repeat="article in $ctrl.categories.articles | filter:{question: $ctrl.searchModel} | orderBy: $ctrl.sort.faq">
    <div>
      <tree-item
          item="article"
          type="'faq'">
      </tree-item>
    </div>
  </div>

</div><!--END:tree-->


<!--tree-->
<div class="tree" ng-if="$ctrl.searchModel.length || $ctrl.sort.name != 'Custom'">

  <div>
    <!--categories-->
    <div ng-repeat="item in $ctrl.getCategories()  | orderBy: $ctrl.sort.cat">

      <tree-item item="item" type="'category'"></tree-item>

      <div class="tree-row"
           ng-if="item.expanded"
           ng-repeat="subcat in item.categories">
        <tree-item item="subcat" type="'category'"></tree-item>
      </div>
    </div>
  </div>
  <!--articles-->
  <div ng-repeat="article in $ctrl.getArticles() | orderBy: $ctrl.sort.faq">
    <div>
      <tree-item
          item="article"
          type="'faq'">
      </tree-item>
    </div>
  </div>
</div><!--END:tree-->
