.tree-row{
  padding: 0 15px;
  margin-left: 20px;
}

.tree-title{
  position: relative;
  font-size: 18px;
  margin: 10px 0;
}

.tree-icon-folder{
  margin-right: 5px;
  cursor: pointer;
}

.tree-icon-has-sub-category{
  position: absolute;
  bottom: -3px;
  top: initial;
  opacity: 0.7;
  font-size: 80%;
  left: 26px;
}
