@import "../../styles/variabels";

category-tree{
  display: block;

  a,
  a:hover {
    color: $darkTextColor;
  }

  .tree{
    position: relative;

    &-header{
      display: table;
      width: 100%;
      color: $greyTextColor;
      border-bottom: 3px solid $dividerColor;

      &-title,
      &-update,
      &-author,
      &-lang{
        display: table-cell;
        padding: 10px 5px;
        cursor: pointer;

        &:hover{
          background-color: rgba(#000, 0.1);
        }
      }

      &-update{
        width: $teeUpdatedWidth;
      }
      &-author{
        width: $teeAuthorWidth;
      }
      &-lang{
        width: $teeLangWidth;
      }

      &-title{
        display: table-cell;
      }
      &-actions{
        display: table-cell;
        width: $iconButtonsSize*2+10;
      }
    }

    &-row{
      margin-left: $treeCollapseMargin;
    }
  }
}