<navbar></navbar>
<div class="content-wrapper faq">

  <!--left sidebar article-->
  <div class="col-md-2 faq-left-sidebar">
    <!--Action buttons-->
    <button class="button button-primary" ng-if="$ctrl.mode == 'update'" ng-click="$ctrl.remove()">
      <i class="fa fa-trash-o"></i>
      Delete
    </button><!--END: Action buttons-->
  </div><!--END: left sidebar article-->

  <!--Content article-->
  <div class="col-md-7 faq-content">

    <!--Counts word-->
    <div class="text-right faq-counts" ng-if="$ctrl.faq.countWords">
      <p>
        {{$ctrl.faq.countWords}} word{{$ctrl.faq.countWords > 1 ? 's': ''}} {{$ctrl.faq.countChars}}
        character{{$ctrl.faq.countChars > 1 ? 's': ''}}, {{$ctrl.faq.timeReads}} reading time
      </p>
    </div><!--END: Counts word-->

    <!--Status-->
    <div class="row faq-status">
      <div class="col-md-3 col-md-offset-9">
        <div class="ma-select"
             uib-dropdown>
          <div class="dropdown-toggle form-control"
               uib-dropdown-toggle>
            <i class="fa fa-angle-down dropdown-angle"></i>
            {{($ctrl.faqStatuses | filter: {code: $ctrl.faq.status})[0].name}}
          </div>

          <ul class="dropdown-menu">
            <li ng-repeat="item in $ctrl.faqStatuses" ng-click="$ctrl.faq.status = item.code">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div><!--END: Status-->

    <!--Question-->
    <div class="faq-question">
      <label>Title</label>
      <input class="form-control" placeholder="Title FAQ" ng-model="$ctrl.faq.question">
    </div><!--END: Question-->

    <!--Answer-->
    <div class="faq-answer">
      <label>Content</label>
      <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.faq.answer"></textarea>
    </div><!--END:Answer-->

    <!--Tags-->
    <div class="faq-tags">
      <label>Keywords</label>
      <tags-input ng-model="$ctrl.faq.tags"
                  display-property="name"
                  placeholder="Add keywords separated by comma">
      </tags-input><!--END: Tags-->
    </div>

    <!--Remarks-->
    <div class="faq-remarks">
      <label>Internal comments</label>
      <textarea class="form-control remarks"
                ng-model="$ctrl.faq.remarks"
                rows="4"
                placeholder="Add your comments here">
      </textarea>
    </div><!--END: Remarks-->

  </div><!--END: Content article-->

  <!--right sidebar article-->
  <div class="col-md-3 faq-right-sidebar edit">
    <!--Action buttons-->
    <div class="row faq-actions">
      <div class="col-md-6">
        <cancel-btn title="'Cancel'" btn-class="'button-full'"></cancel-btn>
      </div>
      <div class="col-md-6">
        <button class="button button-primary button-full" ng-click="$ctrl.save();"
                ng-disabled="!$ctrl.faq.question || !$ctrl.faq.answer">
          {{$ctrl.mode }}
        </button>
      </div>
    </div><!--END: Action buttons-->

    <!--Visibility-->
    <div class="faq-visibility">
      <h4>Visibility:</h4>
      <div class="ma-select"
           uib-dropdown>
        <div class="dropdown-toggle form-control"
             uib-dropdown-toggle>
          <i class="fa fa-angle-down dropdown-angle"></i>

          <i class="fa {{($ctrl.faqVisibility | filter: {code: $ctrl.faq.visibility})[0].icon}}"></i>
          {{($ctrl.faqVisibility | filter: {code: $ctrl.faq.visibility})[0].name}}
        </div>

        <ul class="dropdown-menu">
          <li ng-repeat="item in $ctrl.faqVisibility" ng-click="$ctrl.faq.visibility = item.code">
            <i class="fa {{item.icon}}"></i>
            {{item.name}}
          </li>
        </ul>
      </div>
    </div><!--END: Visibility-->

    <!--Categories-->
    <div class="faq-category">
      <h4>Publish in category:</h4>
      <div class="ma-select"
           uib-dropdown>
        <div class="dropdown-toggle form-control"
             uib-dropdown-toggle>
          <i class="fa fa-angle-down dropdown-angle"></i>
          {{($ctrl.categories | filter: {id: $ctrl.faq.categoryId})[0].name}}
        </div>

        <ul class="dropdown-menu">
          <li ng-repeat="item in $ctrl.categories" ng-click="$ctrl.faq.categoryId = item.id">{{item.name}}</li>
        </ul>
      </div>
    </div><!--END: Categories-->

    <!--Author-->
    <div class="faq-author">
      <h4>Author:</h4>
      <div class="ma-select"
           uib-dropdown>
        <div class="dropdown-toggle form-control"
             uib-dropdown-toggle
             ng-disabled="true">
          <i class="fa fa-angle-down dropdown-angle"></i>
          {{$ctrl.faq.author}}
        </div>
      </div>
    </div><!--END: Author-->

    <!--Language-->
    <div class="faq-language">
      <h4>Language:</h4>
      <div class="ma-select"
           uib-dropdown>
        <div class="dropdown-toggle form-control"
             uib-dropdown-toggle>
          <i class="fa fa-angle-down dropdown-angle"></i>
          <span class="flag-icon {{($ctrl.languages | filter: {code: $ctrl.faq.lang})[0].icon}}"></span>
          {{($ctrl.languages | filter: {code: $ctrl.faq.lang})[0].name}}
        </div>

        <ul class="dropdown-menu">
          <li ng-repeat="item in $ctrl.languages" ng-click="$ctrl.faq.lang = item.code">
            <span class="flag-icon {{item.icon}}"></span>
            {{item.name}}
          </li>
        </ul>
      </div>
    </div><!--END: Language-->

    <!--Attachments-->
    <div class="faq-attachment">
      <h4>Attachments:</h4>

      <div flow-init
           flow-attrs="{accept:'image/*'}"
           flow-file-success="$file.msg = $message"
           flow-file-added="$ctrl.addedNewFile($file, $event, $flow )"
           class="faq-uploader">

        <button
            class="upload-button"
           flow-btn
           ng-disapbled="$ctrl.loadingFileFlag"
           flow-attrs="{accept:'image/*'}">
          <a>Upload attachment (max 20MB)</a>
        </button>

        <div class="files" ng-repeat="item in $ctrl.faq.attachments">
          <a ng-href="{{item.attachment_url}}" target="_blank" class="files-name">{{item.name}}</a>
          <i class="fa fa-remove" ng-click="$ctrl.removeOldFile(item, $index)"></i>
        </div>

        <div class="files" ng-repeat="item in $flow.files">
          <div class="files-name">{{item.name}}</div>
          <i class="fa fa-remove" ng-click="$ctrl.removeFile($index, $flow)"></i>
        </div>

      </div>
    </div><!--END:Attachments-->

  </div><!--END: right sidebar article-->

</div>
