<navbar></navbar>
<div class="content-wrapper faq">

  <!--right sidebar article-->
  <div class="col-md-2 faq-right-sidebar">
    <!--Action buttons-->
    <div class="text-center" ng-if="$ctrl.mode == 'update'">
      <div class="button button-primary" ng-click="$ctrl.remove()">
        <i class="fa fa-trash-o"></i>
        Delete
      </div>
    </div><!--END: Action buttons-->
  </div><!--END: right sidebar article-->

  <!--Content article-->
  <div class="col-md-7 faq-content">

    <!--Counts word-->
    <div class="text-right faq-counts" ng-if="$ctrl.faq.countWords">
      <p>
        {{$ctrl.faq.countWords}} word{{$ctrl.faq.countWords > 1 ? 's': ''}} {{$ctrl.faq.countChars}}
        character{{$ctrl.faq.countChars > 1 ? 's': ''}}, {{$ctrl.faq.timeReads}} reading time
      </p>
    </div><!--END: Counts word-->

    <!--Status-->
    <div class="row faq-status">
      <div class="col-md-3 col-md-offset-9">
        <select class="form-control" ng-model="$ctrl.faq.status"
                ng-options="item.code as item.name for item in $ctrl.faqStatuses">
        </select>
      </div>
    </div><!--END: Status-->

    <!--Question-->
    <div class="faq-question">
      <label>Title</label>
      <input class="form-control" placeholder="Title FAQ" ng-model="$ctrl.faq.question">
    </div><!--END: Question-->

    <!--Answer-->
    <div class="faq-answer">
      <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.faq.answer"></textarea>
    </div><!--END:Answer-->

    <!--Tags-->
    <tags-input ng-model="$ctrl.faq.tags"
                display-property="name"
                placeholder="Add keywords separated by comma">
    </tags-input><!--END: Tags-->

    <!--Remarks-->
    <div class="faq-remarks">
      <h4>Add internal comments</h4>
      <textarea class="form-control remarks" ng-model="$ctrl.faq.remarks" rows="4"></textarea>
    </div><!--END: Remarks-->

  </div><!--END: Content article-->

  <!--left sidebar article-->
  <div class="col-md-3 faq-left-sidebar edit">
    <!--Action buttons-->
    <div class="row faq-actions">
      <div class="col-md-6">
        <cancel-btn title="'Cancel'"></cancel-btn>
      </div>
      <div class="col-md-6">
        <button class="button button-primary" ng-click="$ctrl.save();"
                ng-disabled="!$ctrl.faq.question || !$ctrl.faq.answer">
          {{$ctrl.mode }}
        </button>
      </div>
    </div><!--END: Action buttons-->

    <!--Visibility-->
    <div class="faq-visibility">
      <h4>Visibility</h4>
      <select class="form-control" ng-model="$ctrl.faq.visibility">
        <option ng-repeat="item in $ctrl.faqVisibility" value="{{item.code}}">
          {{item.name}}
        </option>
      </select>
    </div><!--END: Visibility-->

    <!--Categories-->
    <div class="faq-category">
      <h4>Publish in section</h4>
      <select class="form-control" ng-model="$ctrl.faq.categoryId"
              ng-options="item.id as item.name for item in $ctrl.categories">
      </select>
    </div><!--END: Categories-->

    <!--open for comments-->
    <div class="checkbox faq-open-comments">
      <label>
        <input type="checkbox" ng-model="$ctrl.faq.is_open_comments">
        Open for comments <br> Promote article
      </label>
    </div><!--END:open for comments-->

    <!--Author-->
    <div class="faq-author">
      <h4>Author:</h4>
      <select class="form-control" disabled ng-model="$ctrl.faq.author">
        <option value="{{$ctrl.faq.author}}">
          {{$ctrl.faq.author}}
        </option>
      </select>
      <!--<input class="form-control" type="text" ng-disabled="true" ng-model="$ctrl.faq.author">-->
    </div><!--END: Author-->

    <!--Language-->
    <div class="faq-language">
      <h4>Language:</h4>
      <select class="form-control" ng-model="$ctrl.faq.lang"
              ng-options="item.code as item.name for item in $ctrl.languages">
      </select>
    </div><!--END: Language-->

    <!--Attachments-->
    <div class="faq-attachment">
      <h4>Attachments:</h4>

      <div class="files" ng-repeat="item in $ctrl.faq.attachments">
        <a ng-href="{{item.attachment_url}}" target="_blank" class="files-name">{{item.name}}</a>
      </div>

      <div flow-init
           flow-attrs="{accept:'image/*'}"
           flow-file-success="$file.msg = $message"
           flow-file-added="$ctrl.addedNewFile($file, $event, $flow )"
           class="faq-uploader">

        <button class="button button-primary"
                flow-btn
                ng-disapbled="$ctrl.loadingFileFlag"
                flow-attrs="{accept:'image/*'}">
          {{$flow.files.length ? 'Add': 'Upload'}} File
        </button>

        <div class="files" ng-repeat="item in $flow.files">
          <div class="files-name">{{item.name}}</div>
          <i class="fa fa-remove" ng-click="$ctrl.removeFile($index, $flow)"></i>
        </div>

      </div>
    </div><!--END:Attachments-->

  </div><!--END: left sidebar article-->

</div>
