<navbar></navbar>
<div class="content-wrapper faq">
  <div class="container-fluid">
    <div class="row">
      <!--Content article-->
      <div class="col-md-8 faq-content">
        <!--Tags-->
        <tags-input ng-model="$ctrl.faq.tags" display-property="name"></tags-input><!--END: Tags-->
        <!--Question-->
        <input class="form-control" placeholder="Title FAQ" ng-model="$ctrl.faq.question"><!--END: Question-->
        <!--Answer-->
        <h4>Answer</h4>
        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.faq.answer"></textarea><!--END:Answer-->
        <!--Remarks-->
        <h4>Remarks</h4>
        <textarea class="form-control remarks" ng-model="remarkModel" rows="4"></textarea>

        <div class="text-right">
          <div class="btn btn-primary add-btn" ng-click="$ctrl.addRemark(remarkModel); remarkModel=null">
            Add
          </div>
        </div>

        <div class="one-remark" ng-repeat="item in $ctrl.faq.remarks track by $index">
          {{item}}
        </div><!--END: Remarks-->
      </div><!--END: Content article-->

      <!--left sideba article-->
      <div class="col-md-4 faq-left-sidebar edit">
        <!--Action buttons-->
        <div class="text-center" ng-if="$ctrl.$state.current.name == 'editFaq'">
          <div class="btn btn-danger delete-btn" ng-click="$ctrl.remove()">Delete</div>
        </div><!--END: Action buttons-->
        <!--Categories-->
        <h4>Categories:</h4>
        <select class="form-control" ng-model="$ctrl.faq.categories">
          <option ng-repeat="item in $ctrl.categories" value="{{item.id}}">{{item.name}}</option>
        </select><!--END: Categories-->
        <!--Visibility-->
        <h4>Visibility:</h4>
        <div class="row faq-visibility">
          <div class="col-md-4"
               ng-class="{'active': $ctrl.faq.visibility == 'Public'}"
               ng-click="$ctrl.faq.visibility = 'Public'">
            <i class="glyphicon glyphicon-globe"></i>Public
          </div>
          <div class="col-md-4"
               ng-class="{'active': $ctrl.faq.visibility == 'Internal'}"
               ng-click="$ctrl.faq.visibility = 'Internal'">
            <i class="glyphicon glyphicon-briefcase"></i>Internal
          </div>
          <div class="col-md-4"
               ng-class="{'active': $ctrl.faq.visibility == 'Private'}"
               ng-click="$ctrl.faq.visibility = 'Private'">
            <i class="glyphicon glyphicon-lock"></i>Private
          </div>
        </div><!--END: Visibility-->
        <!--Author-->
        <h4>Author:</h4>
        <input class="form-control" type="text" ng-disabled="true" ng-model="$ctrl.faq.author"><!--END: Author-->
        <!--Language-->
        <h4>Language:</h4>
        <select class="form-control" ng-model="$ctrl.faq.language" ng-options="item.code as item.name for item in $ctrl.languages">
        </select><!--END: Language-->
        <!--Attachments-->
        <h4>Attachments:</h4><!--END:Attachments-->

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.faq.openForComments">
            Open for comments
          </label>
        </div>

        <div class="text-center">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="$ctrl.faq.published">
              Published
            </label>
          </div>
        </div>
        <!--Action buttons-->
        <div class="row faq-actions">
          <div class="col-md-6 col-md-offset-3">
            <div class="btn btn-primary" ng-click="$ctrl.saveAsDraft();" ng-disabled="!$ctrl.faq.question">
              Save As Draft
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="btn btn-primary save-btn" ng-click="$ctrl.save();" ng-disabled="!$ctrl.faq.question">
              Save
            </div>
          </div>
        </div><!--END: Action buttons-->
      </div><!--END: left sideba article-->
    </div>
  </div>
</div>
