<div class="visitor">
  <div class="visitor-bg-heading">

    <div class="col-md-12">
      <div class="visitor-actions pull-right">
        <!--<button class="button"-->
        <!--ng-click="$ctrl.cancel()"-->
        <!--ng-if="$ctrl.cancelBtn.isSetPrevious()"-->
        <!--tooltip-placement="bottom"-->
        <!--uib-tooltip="Back">-->
        <!--Back-->
        <!--</button>-->

        <button class="button button-primary"
                ui-sref="visitor({categoryId: ''})"
                tooltip-placement="bottom"
                uib-tooltip="Go to home"
                ng-click="$ctrl.searchModel = ''">
          Home
        </button>

        <button class="icon-button" ng-click="$ctrl.logout()"
                tooltip-placement="bottom"
                uib-tooltip="Log Out">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>

      </div>

    </div>

    <div class="visitor-title text-center">
      <h1>{{ $ctrl.name }}</h1>
    </div>

    <div class="row visitor-search">
      <div class="col-md-10 col-md-offset-1">
        <i class=" fa fa-search"></i>
        <input class="form-control" placeholder="Search FAQ by Algolia" ng-model="$ctrl.searchModel"
               ng-change="$ctrl.search($ctrl.searchModel)">
      </div>
    </div>

  </div>

  <div class="container-fluid" ng-if="!$ctrl.searchModel">
    <div class="col-md-7 col-md-offset-1 visitor-tree">

      <a ui-sref="visitor({categoryId: $ctrl.tree.parent_id})"
         class="visitor-tree-prev"
         ng-if="$ctrl.currentCategory != 1">
        <i class="fa fa-folder-open"></i>
        {{$ctrl.tree.name}}
      </a>

      <div class="visitor-tree-item visitor-tree-item-category"
           ng-repeat="item in $ctrl.tree.categories">
        <a ui-sref="visitor({categoryId: item.id})">
          <i class="fa fa-folder"></i>
          {{item.name}}
        </a>
      </div>

      <div class="visitor-tree-item visitor-tree-item-category"
           ng-repeat="item in $ctrl.tree.articles">
        <a ui-sref="visitorArticle({faqId: item.id})">
          <i class="fa fa-question-circle"></i>
          {{item.question}}
        </a>
      </div>

      <div ng-if="!$ctrl.tree.categories.length && !$ctrl.tree.articles.length">
        <h3 class="text-center">
          Empty
        </h3>
      </div>
    </div>

    <div class="col-md-3 visitor-last-created" ng-if="$ctrl.articles.length">
      <h2>Most Viewed FAQ:</h2>
      <div class="visitor-last-created-item" ng-repeat="item in $ctrl.articles | orderBy: '-hits_count' | limitTo: 10">
        <a ui-sref="visitorArticle({faqId: item.id})">
          <i class="fa fa-question-circle"></i>
          {{item.question}}
        </a>
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.searchModel">
    <div class="algolia col-md-8 col-md-offset-2 " ng-repeat="item in $ctrl.algoliaResults">
      <div class="algolia-question">
        <h3>
          <a ui-sref="visitorArticle({faqId: item.objectID+'-a'})"
             ng-bind-html="item._highlightResult.question.value"></a>
        </h3>
        in category: <span class="algolia-category" ng-bind-html="item._highlightResult.categories[0].value"></span>
      </div>

      <div class="algolia-tags">
        <div class="one-tag" ng-repeat="tag in item._highlightResult.tags" ng-bind-html="tag.value"></div>
      </div>


      <div class="algolia-answer" ng-bind-html="item._highlightResult.answer.value">
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.searchModel && $ctrl.algoliaResults.length == 0">
    <h3 class="text-center">
      Not found
    </h3>
  </div>
</div>

