<div class="visitor">
  <div class="visitor-bg-heading">

    <div class="col-md-12">
      <div class="visitor-actions pull-right">
        <button class="button button-primary"
                ui-sref="visitor({categoryId: ''})"
                tooltip-placement="bottom"
                uib-tooltip="Go to home"
                ng-click="$ctrl.searchModel = ''">
          Home
        </button>

        <button class="icon-button" ng-click="$ctrl.logout()"
                tooltip-placement="bottom"
                uib-tooltip="Log Out">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>

      </div>

    </div>

    <div class="visitor-title text-center">
      <h1>{{ $ctrl.name }}</h1>
    </div>

    <div class="row algolia-search-input">
      <div class="col-md-10 col-md-offset-1">
        <i class=" fa fa-search"></i>
        <input class="form-control" placeholder="Search FAQ by Algolia" ng-model="$ctrl.searchModel">
      </div>
    </div>

  </div>

  <div class="container-fluid" ng-if="!$ctrl.searchModel">
    <div class="col-md-7 col-md-offset-1 visitor-tree">

      <a ui-sref="visitor({categoryId: $ctrl.tree.parent_id})"
         class="visitor-tree-prev"
         ng-if="$ctrl.currentCategory != 1">
        <i class="fa fa-folder-open"></i>
        {{$ctrl.tree.name}}
      </a>

      <div class="visitor-tree-item visitor-tree-item-category"
           ng-repeat="item in $ctrl.tree.categories | orderBy: sort_order">
        <a ui-sref="visitor({categoryId: item.id})">
          <i class="fa fa-folder"></i>
          {{item.name}}
        </a>
      </div>

      <div class="visitor-tree-item visitor-tree-item-category"
           ng-repeat="item in $ctrl.tree.articles">
        <a ui-sref="visitorArticle({faqId: item.id, categoryId: $ctrl.currentCategory})">
          <i class="fa fa-question-circle"></i>
          {{item.question}}
        </a>
      </div>

      <div ng-if="!$ctrl.tree.categories.length && !$ctrl.tree.articles.length">
        <h3 class="text-center">
          Empty
        </h3>
      </div>
    </div>

    <div class="col-md-3 visitor-last-created" ng-if="$ctrl.articles.length">
      <h2>Most viewed FAQs within {{$ctrl.categoriesArray.length == 1 ? $ctrl.categoriesArray[0] : $ctrl.categoriesArray[1]}}:</h2>
      <div class="visitor-last-created-item" ng-repeat="item in $ctrl.articles | orderBy: '-hits_count' | limitTo: 10">
        <a ui-sref="visitorArticleAlgolia({faqId: item.objectID})">
          <i class="fa fa-question-circle"></i>
          {{item.question}}
        </a>
      </div>
    </div>
  </div>

  <algolia-search search-model="$ctrl.searchModel" category="$ctrl.categoryForAlgolia"></algolia-search>
</div>

