<div class="container-fluid login">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1 class="text-center">{{ $ctrl.name }}</h1>

      <form
        name="loginForm"
        sf-schema="$ctrl.schema"
        sf-form="$ctrl.form"
        sf-model="$ctrl.user">
      </form>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>

    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login-actions">
      <button
          type="button"
          class="button button-primary button-full"
          ng-disabled="loginForm.$invalid"
          ng-click="$ctrl.login(loginForm, $ctrl.user)">Sign in
      </button>

      <div class="row">
        <div class="col-md-6">
          <button class="button button-full" ng-click="$ctrl.forgot()">Forgot password?</button>
        </div>
        <div class="col-md-6">
          <button class="button button-full" ui-sref="registration">Registration</button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
