<navbar></navbar>
<div class="content-wrapper users">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <h1 class="pull-left">{{$ctrl.name}}</h1>
      </div>
      <div class="col-md-1">
        <button class="button button-primary pull-right"
                ng-click="$ctrl.create()"
                permission
                permission-except="'user'">Add</button>
      </div>
    </div>

    <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
      <colgroup>
        <col width="50%"/>
        <col width="30%"/>
        <col width="10%"/>
        <col width="10%"/>
      </colgroup>
      <tr ng-repeat="user in $data">
        <td title="'User Name'" sortable="'first_name'">
          {{user.fullName}}
        </td>
        <td title="'Email'" sortable="'email'">
          {{user.email}}
        </td>
        <td title="'Role'" sortable="'role'">
          {{user.role}}
        </td>
        <td title="" class="text-center" >
          <!-- start Action btn -->
          <button class="icon-button"
                  ng-click="$ctrl.edit(user)"
                  tooltip-placement="up"
                  uib-tooltip="Edit user"
                  permission
                  permission-except="'user'">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button class="icon-button"
                  ng-disabled="true"
                  ng-click="$ctrl.remove(user.id)"
                  tooltip-placement="up"
                  uib-tooltip="Remove user"
                  permission
                  permission-except="'user'">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <!-- end Action btn -->
        </td>
      </tr>
    </table>
  </div>
</div>
